{% extends "base.html" %}

{% block content %}
<div class="container-fluid px-5">

    <!-- Title -->
    <h1 class="d-flex fw-bold mb-4 justify-content-center">3D Conceptualization</h1>

    <!-- Description -->
    <div class="intro-box shadow mb-5 justify-content-center">
        <p>
            For anything from 3D printing to animation to sculpting to engineering, knowing how to
            <strong>break down complex volumes into simple objects</strong> is a necessary skill to have.
        </p>
        <p>
            Learn how to conceptualize most objects using basic 3D primitives and
            2D Profiles Swept Along a Path.
        </p>
    </div>

    <!-- Name input section -->
    <div class="d-flex justify-content-center">
        <form method="POST" action="{{ url_for('start') }}" class="text-center">
            <label for="username" class="form-label name-label">
                Enter your name below and click <strong>Start:</strong>
            </label>
            <div class="d-flex flex-column align-items-center p-4">
                <input type="text"
                    class="form-control name-input mb-3 p-4"
                    id="username"
                    name="username"
                    placeholder="Enter Your Name"
                    required>
                <button type="submit" class="color_button1 w-50 h-100 p-3" id="continueBtn">Start</button>
            </div>
        </form>
    </div>

</div>
{% endblock %}
