<!DOCTYPE html>

{% extends "layout.html" %}

{% block content %}
<script type="module" src="https://ajax.googleapis.com/ajax/libs/model-viewer/4.0.0/model-viewer.min.js"></script>
<html lang="en">
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
    <body>
        <div id="overallContainer" class="overall">
            <div class="row">
                <div class="col-lg-12">
                    <span> QUIZ PAGE </span>
                </div>
            </div>
        </div>
        <div>
            <model-viewer alt="Pill Example" src="/static/Pill.glb" shadow-intensity="1" camera-controls touch-action="pan-y" style="height: 600px; width: 100%;"></model-viewer>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form for="Navigate Back" id="BackButtonLink" class="d-flex mr-auto" action="/learn">
                    <button id="buttonBack" title="Navigate Back" class="btn btn-danger" type="submit">Back</button>
                </form>
            </div>
            <div class="col-lg-6">
                <form for="Navigate Next" id="NextButtonLink" class="d-flex justify-content-end ml-auto" action="/">
                    <button id="buttonNext" title="Navigate Next" class="btn btn-primary" type="submit">Next</button>
                </form>
            </div>
        </div>
    </body>
</html>
{% endblock %}